body{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

.controller_all{
    margin-top: 50px;
    margin-left: 100px;
}
.form_conf{
    display: inline-block;
    vertical-align: auto;
    position: relative;
}

.div_connect{
    position: absolute;
    top: 0px;
    left: 30px;
    width: 220px;
}
.div_visit{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 220px;
}
.div_discharge{
    position: absolute;
    top: 0px;
    left: 470px;
    width: 220px;
}
.div_utterance{
    position: absolute;
    top: 0px;
    left: 690px;
    width: 220px;
}
.text_size{
    font-size: 20px;
}
input.text_size{
    position: relative;
    display: block;
    height: 60px;
	width: 160px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #1e90ff;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
input.text_size:active{
    border-bottom: 2px solid #1e90ff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

h1{
    margin-left: 30px;
}
h2{
    color: #1e90ff;
}
.title{
    background-color: #1e90ff;
    color: #ffffff;
}
input{
    margin-top: 15px;
}